path {
    fill: #FFF;
}

path:hover {
    cursor: crosshair;
    fill: #D3D3D3;
}

path.visited {
    fill: #add8e6;
}

path.visited:hover { 
    fill: #D3D3D3;
}

/* path.visited.add-pin {
    fill: #add8e6
} */

